<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.centsuse.api_auth.mapper.SysUserAppMapper">

    <resultMap id="BaseResultMap" type="com.centsuse.api_auth.dao.SysUserApp">
        <id property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="appCode" column="app_code" />
        <result property="deptId" column="dept_id" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="createBy" column="create_by" />
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, app_code, dept_id, status, create_time, create_by
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            sys_user_app
        WHERE
            user_id = #{userId}
            AND status = 1
    </select>

    <select id="selectByUserIdAndAppCode" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            sys_user_app
        WHERE
            user_id = #{userId}
            AND app_code = #{appCode}
            AND status = 1
    </select>
</mapper>
